
/*
            ***LINKS***
*/

// general
a { 
  text-decoration: none;
  color: $color-text;
  border-bottom: solid 2px $color-link;
  &:hover,
  &:focus { background: $color-link; }
  &:active { padding: 0.9%; } 
}

//404.html
.not-found--link { 
  color: $color-not-found--link;
  
  &:hover,
  &:focus { color: $color-text; } 
}