
/*
            ***TYPOGRAPHIC***
*/

@import url('https://fonts.googleapis.com/css?family=Aldrich|Miriam+Libre');

//index.html
.wrapper {
  @include set-font($font-primary, 120%);

  @media screen and (min-width: $very-large-screen) { font-size: 200%; }
}

.title {
  @include set-font($font-title, 2.7em);
  text-align: center;

  @media screen and (min-width: $very-large-screen) { font-size: 4em; }
}

//404.html
.not-found--content {
  line-height: 1.4; 
  text-align: center;
  vertical-align: middle;
}

.not-found--heading {
  font-size: 2em;
  font-weight: 400;

  @media screen and (max-width: $very-small-screen) { font-size: 1.5em; }
}
