
/*
            ***POSITIONING***
*/

// animation of the heading on index.html
.title span { position: relative; }

//index.html
.deco {
  position: fixed;
	top: 0;
	left: 0;
	z-index: -9999;
}

video {
	z-index: -10000;
} 

//404.html
.not-found--layout { display: table; }

.not-found--content { display: table-cell; }
